<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 logo">
                        <p>© COPYRIGHT 2016 CHRYSALIS</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <ul class="footer-navigation">
                            <li><a class="active" href="javascript:void(0);">Home</a></li>
                            <li><a href="javascript:void(0);">about us</a></li>
                            <li><a href="javascript:void(0);">program</a></li>
                            <li><a href="javascript:void(0);">life at chrysalis</a></li>
                            <li><a href="javascript:void(0);">clients</a></li>
                            <li><a href="javascript:void(0);">careers</a></li>
                            <li><a href="javascript:void(0);">event</a></li>
                            <li><a href="javascript:void(0);">contact</a></li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 