<div class="header-top navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 logo">
                        <a href="javascript:void(0);"><img src="images/logo.png" title="Chrysalis" class="img-responsive">
                    </div>
                    <div class="col-lg-8 col-md-8 col-ms-8 left-border hidden-sm hidden-xs">
                        <ul class="navigation">
                            <li><a class="active" href="javascript:void(0);">Home</a></li>
                            <li><a href="javascript:void(0);">about us</a></li>
                            <li><a href="javascript:void(0);">program</a></li>
                            <li><a href="javascript:void(0);">life at chrysalis</a></li>
                            <li><a href="javascript:void(0);">clients</a></li>
                            <li><a href="javascript:void(0);">careers</a></li>
                            <li><a href="javascript:void(0tt);">event</a></li>
                            <li><a href="javascript:void(0tt);">contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 social-media-container hidden-sm hidden-xs">
                        <ul class="social-media">
                            <li><a href="javascript:void(0);"><i class="fa fa-instagram"></i> </a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 