/*!
 * custom css
 */
 .clearfix{
    clear: both;
 }
 .logo a {
    display: block;
    padding: 18px 5px;
 }
.smallHeader .header-top .social-media-container{
    margin-top: -30px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.smallHeader .header-top{
    background:rgba(0,0,0,1);
}
.header-top{/*
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;*/
    background:rgba(0,0,0,0.8);
    /*border-top:10px solid #1f1f1f;*/
    border-bottom:1px solid rgba(255,255,255,0.2);
    /*display: none;*/
}
.side-nav i{
    position: absolute;
    font-size: 21px;
    color: #ffffff;
    top: 30%;
    left: 15px;
    z-index: 9
}
.left-border{
    border-left:1px solid rgba(255,255,255,0.2);
}
ul.navigation, ul.navigation li ol{
    padding: 0;
    margin: 0;
    float: right;
}
ul.navigation li ol{
    position: absolute;
    padding: 10px 15px 0;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    visibility: hidden;
    margin: -20px 0 0 0;
}
ul.navigation li ol li{
    float: none;
    margin: 0 0 10px 0;
    width: 180px;
}
ul.navigation li ol li a{
    line-height: normal;
}
ul.navigation li, ul.social-media li{
    float: left;
    list-style: none;
    margin-left: 20px;
    position: relative;
}
ul.navigation li a{
    line-height: 77px;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration:none;
    font-weight: 600;
    position: relative;
    display: block;
}
ul.navigation li:hover ol{
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
ul.navigation li ol a:hover:after, ul.navigation li ol a.active:after{
/*ul.navigation li a:after{*/
    content: '';
}
ul.navigation li a:hover:after, ul.navigation li a.active:after{
/*ul.navigation li a:after{*/
    content: '...';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    text-align: center;
    color: #f68b1f;
    font-size: 30px;
    letter-spacing: 1px;
}
ul.navigation li#home a:hover:after, ul.navigation li#home a.active:after{
    left: -8px;
}
.social-media-container{
    /*border-left: 1px solid rgba(255,255,255,.2);*/
    background: #1f1f1f;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
ul.social-media{
    line-height: 30px;
    margin: 0;
    padding: 0;
}
 
ul.social-media li{
    margin-right: 0;
    margin-left: 25px;
    float: right;
}
ul.social-media li a i{
    color: #cccccc;
    font-size: 18px;
}
ul.social-media li a:hover i{
    color: #f68b1f;
}
/*banner*/
.banner-qoute{
    position: absolute;
    left: 0;
    top: 160px;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 305px;
    z-index: 100;
    color: #fff;
    text-align: center;
}
.banner-qoute i{
    font-size: 50px;
}
.banner-qoute p{
    font-size: 40px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-weight: 300;
}

.banner-qoute .bottom-line{
    width: 40px;
    height: 4px;
    background: #f68b1f;
    margin: 0px auto 0;
}
.banner-qoute p span{
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-transform: lowercase;
    line-height: 22px;
    display: block;
}
.play-banner-video{
    margin-top: 30px;
    cursor: pointer;
}
.play-banner-video a i{
    background: #f68b1f;
    color: #ffffff;
    font-size: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
/*banner*/
/*our-programs*/
.our-programs{
    padding-top: 60px;
    padding-bottom: 90px;
}
.our-programs p{
    float: none;
    line-height: 25px;
    color: #464646;
    margin-bottom: 20px;
}
.our-programs-bg{
    padding: 34px 30px;
}
.about-us-our-purpose.our-programs-bg{
    padding: 50px 60px;
}
.our-programs-bg a{
    margin-bottom: 10px;
}
.programs-wrapper{
    background: #f8f8f8;
}
.purpose-img.prog-height-fix{
    height: 228px;
}
.prog-height-fix{
    height: 308px;
    overflow: hidden;
}
.prog-height-fix img{
    max-width: inherit;
}
/*our-programs*/
/*about-mg*/
.about-mg{
    // height: 607px;
    height: 100%;
    // padding-top:80px; 
    background: url('../../images/aboutMgBg.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 90px;
}
.about-mg h6,.about-mg h6 a{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-decoration:none;
}
.about-mg span{
    color: #f68b1f;
    font-size: 15px;
    margin-bottom: 20px;
    display: block;
}
.about-mg p{
    color: #e5e5e5;
    font-size: 14px;
    line-height: 26px;
}
.about-mg a.mg-logo{
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;    
    height: 60px;
    line-height: 60px;
    padding: 0px 10px 0px 70px;
    margin: 30px 0;
    display: inline-block;
    background: #f58a1f url('../../images/mgLogo.png') no-repeat 12px 9px;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    border-radius: 3px
}
.about-mg-img-box{
    /*position: relative;*/
}
.about-mg-img-box img{
    margin-top: -150px;
    margin-left: 80px;
}
/*about-mg*/
/*about-chrysalis*/
.about-chrysalis{
    padding-top:100px;
    padding-bottom:100px;
}
.you-tube-video{
    position: relative;
}
.about-chrysalis h5.sub-title{
    margin-top: 20px;
    margin-bottom: 10px;
}
.you-tube-video .youtube-play-btn{
    position: absolute;
    top: 0;
    /*left: 0;*/
    bottom: 0;
    right: 0;
    margin: auto;
    line-height: 40px;
    height: 40px;
    width: 120px;
    background: #3f3e3e;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}
.you-tube-video .youtube-play-btn:after{
    
    height: 40px;
    width: 40px;
    border-radius: 50%;
    content: '';
    position: absolute;
    left: -20px;
    background: #3f3e3e;
}
.about-info-box{
    padding: 10px 30px 30px 30px;
    background: #e3e3e3;
}
.about-info-box p{
    color: #3f3e3e;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}
.about-info-box p strong{
    color: #f68b1f
}
.about-info-box a{
    height: 43px;
    width: 43px;
    line-height: 43px;
    background: #f68b1f;
    color: #ffffff;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    display: block;
    text-decoration: none;
    float: right;
}
/*about-chrysalis*/
/*testimonial-slider*/
.testimonial-slider{
    background: #343332 url('../../images/videoOverlay.png');
    padding-top: 100px;
    padding-bottom: 100px;
}
.testimonial-slider .slider{
    width: 80%;
    margin:0 auto;
}
.testimonial-slider .more-testimonials{
    display: block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    background: #f68b1f;
    margin-top: -100px;
    width: 240px;
    text-decoration: none; 
    letter-spacing: 1px;
}
.testimonial-container{
    text-align: center;
}
.testimonial-user-img{
    margin:20px auto;
    width: 95px;
    height: 95px;
    padding: 5px 0px;
    border-radius: 50%;
    border: 2px solid #f68b1f;
}
.testimonial-container p{
    font-size: 21px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 300;
    position: relative;
}

.testimonial-txt .qouteTop{
    position: relative;
    top: -20px;
}
.testimonial-txt .qouteBottom{
    position: relative;
    bottom: 13px;
}
.testimonial-container span{
    font-size: 15px;
    color: #f68b1f;
    letter-spacing: 1px;
    margin-top: 10px;
    display: block;
}
/*testimonial-slider*/
/*inner-banner-qoute*/
.inner-banner-qoute{
    height: 185px;
    top: 190px;
}
.inner-banner-qoute p{
    font-weight: 700;
}
.inner-banner-qoute p i{
    /*margin-bottom:20px; */
    display: block;
}
/*inner-banner-qoute*/
.inner-header-container{
    position: relative;
}
/*core-value-container*/
.core-value-container{
    padding-top:70px; 
    background: #333 url('../../images/coreValueBg.jpg') no-repeat top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.core-value-container h4.section-title{
    color: #ffffff;
}
.core-value-container p.title-qoute{
    color: #dadada;
    font-style: normal;
}
.bottom-line{
    width: 40px;
    height: 4px;
    background: #f68b1f;
    margin: 20px auto 0;
}
.core-value{
    color: #fff;
    text-align: center;
}
.core-value i{
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 36px;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.core-value i:after{
    content: "";
    position: absolute;
    top: 40px;
    width: 160px;
    height: 1px;
    right: -80px;
    background: #5c554e;
}
.core-value .last-value i:after{
    position: inherit;
}
.core-value p{
    line-height: 24px;
    font-size: 14px;
}
/*core-value-container*/

.our-vision{
    color: #ffffff;
    background: #f68b1f url('../../images/videoOverlay.png') repeat;
}
.our-vision h4.section-title{
    color: #ffffff;
}
.our-vision p{
    font-size: 24px;
    font-style: italic;
    line-height: 36px;
    text-align: center;
    font-weight: 300;
}
/*footer-navigation*/
.footer .design-by{
    background: #151515;
}
.footer .design-by p{
    text-align: center;
}
.footer .design-by strong{
    color: #007993;
}
.footer{
    background: #1c1c1c;
}
.footer p{
    color: #6b6b6b;
    font-size: 13px;
    font-weight: 600;
    line-height: 60px;
    margin: 0
}
ul.footer-navigation{
    float: right;
    margin: 0;
    padding: 0
}
ul.footer-navigation li{
    float: left;
    list-style: none;
    margin-left: 10px;
}
ul.footer-navigation li a{
    font-size: 13px;
    color: #7f7f7f;
    line-height: 60px;
    text-transform: capitalize;
    text-decoration: none;
}
ul.footer-navigation li a.active{
    color: #ffffff;
}
/*footer-navigation*/
/*special-moments*/
.special-moments h4.section-title{
    text-transform: capitalize;
}
.special-moments p.title-qoute{
    color: #929292;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
}
.testimonial-team {
    background:none;
    padding: 60px 0;
}
.testimonial-team .testimonial-user-img{
    border: none;
}
.testimonial-team .testimonial-txt{
    color: #606060;
    font-size: 20px;
    line-height: 34px;
    width: 80%;
    margin: 0 auto;
    position:relative; 
}
.testimonial-team .testimonial-container span{
    color: #f68b1f;
    font-size: 18px;
}
.testimonial-team .testimonial-container span span{
    font-size: 12px;
    margin-top: 0
}
.testimonial-team.testimonial-slider .owl-controls .owl-page span{
    background: #d2d2d2; 
}
/*special-moments*/
/*contact us*/
#map {
    /*height: 400px;*/
}
.contact-us-txt{
    margin: 0 auto;
    float: none;
}
.contact-us-txt p{
    color: #41403f;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.contact-us-txt p strong{
    color: #f68b1f;
    font-weight: 600;
    font-style: italic;
}
.contact-us-form .form-group{
    margin-bottom: 30px;
}
.contact-us-form .form-group input.form-control,
.contact-us-form .form-group input.form-control[placeholder],
.contact-us-form .form-group textarea.form-control{
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    background: transparent;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.lets-connect-container{
    position: relative;
}
.lets-connect{
    width: 354px;
    padding: 20px 20px;
    position: absolute;
    background: rgba(28,28,28,0.7);
    top: 149px;
    left: 10px;
}
.lets-connect h4{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}
.lets-connect p{
    font-size: 14px;
    color: #ffffff;
    line-height: 24px;
    margin: 0;
}
.get-connected-container{
    background: url('../../images/cc.jpg');
    background-size: cover;
}
.get-connected {
    padding: 30px;
}
.get-connected h5{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.get-connected p{
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}
.contact-form-container{
    background: #424242 url('../../images/contactFormBg.jpg') no-repeat center center;
}
.contact-info-container{
    /*background: #f1f1f1;*/
    /*background-size: cover;*/
}
.contact-info{
    /*padding: 30px 50px;*/
}
.contact-info-container .contact-info h5{
    color: #454545;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom:20px; 
}
.contact-info-container .contact-info i.fa-map-marker{
    font-size: 36px;
}
.contact-info-container .contact-info i.fa-envelope-o{
    font-size: 28px;
}
.contact-info-container .contact-info i{
    font-size: 40px;
    color: #f68b1f;
    /*display: inline-block;
    position: absolute;
    top: 0;
    left: 0;*/
    float: left;
    margin: 0 10px 0 0;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 18px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
}
.error{
    color: orange;
    font-weight: 300;
    font-size: 12px;
}
.contact-info-container .contact-info p{
    color: #ffffff;
    font-size: 14px;
    /*display: inline-block;*/
    line-height: 28px;
    float: left;
    width: 76%;
}
.contact-info-container .contact-info .contact-detail .row div{
    position: relative;
    /*padding: 0px 0 0 120px;*/
    margin-bottom:20px; 
}
/*contact us*/
/*testimonials-container*/
.testimonials-container{}
.testimonials-container h4.section-title{
    /*text-transform: capitalize;*/
}
.testimonials-container ul{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    padding: 0
}
.testimonials-container ul li{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #141414;
    border: 1px solid #ececec;
    padding: 6px 20px;
    margin-left: 20px;
    cursor: pointer;
}
.testimonials-container ul li:hover, .testimonials-container ul li.active{
    border: 1px solid #f68b1f;
    color: #f68b1f;
}
.testimonial-filter{
    text-align: center;
    margin: 0 0 50px 0;
    /*margin: 50px 0;*/
}
.testimonial-top{
    background: #f2f2f2;
    padding: 40px 30px
}
.testimonial:nth-child(odd) .testimonial-top{
    background: #dfdfdf;
}
.testimonial {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.testimonial p{
    font-size: 14px;
    color: #464646;
    line-height: 22px;
}
.testimonial h6{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #f68b1f;
    font-weight: 600;
    line-height: 24px;
    font-style: italic;
}
.testimonial-user{
    margin: -50px auto 40px;
    width: 95px;
    height: 95px;
    padding: 6px 5px;
    border-radius: 50%;
    border: 2px solid #f68b1f;
}
/*testimonials-container*/
/*programs-tab*/
.uprog-lnk p{margin: 0;}
.uprog-lnk p a{
    text-decoration: underline;
    font-style: italic;
    color: #f68b1f;
}
.uprog-lnk{
    text-align: center;
    padding: 30px 0px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    margin-bottom: 60px;
    font-size: 18px;
}
.programs-tab{
    text-align: center;
    background: #eaeaea;
    margin: 0 0 40px 0;
    /*margin: 40px 0;*/
}
.program-info h4 p{
    margin-bottom: 0;
    font-size: 16px;
}
.programs-tab ul{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    padding: 0;
    margin: 0;
}
.programs-tab ul li{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
}
.programs-tab ul li a{
    padding: 15px 20px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #464646;
    text-decoration: none;
}
.programs-tab ul li a:hover, .programs-tab ul li a.active{
    border-top:1px solid #f68b1f; 
    border-bottom:1px solid #f68b1f; 
    color: #f68b1f;
    padding: 14px 20px;
}
.program-info{
    display: none;
}
.program-info h4, .program-info h6{
    font-size: 32px;
    color: #393737;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.program-info h6{
    font-size: 24px;
    margin: 40px 0 30px 0;
}
.program-info p{
    color: #464646;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}
.program-info ul{
    margin: 0;
    padding: 0;
}
.program-info li{
    list-style: none;
    font-size: 18px;
    color: #424242;
    position: relative;
    line-height: 30px;
    padding: 0 0 0 22px;
    margin-bottom: 10px;
}
.program-info li i{
    font-size: 8px;
    color: #f68b1f;
    margin-right: 8px;
    position: absolute;
    left: 0;
    top: 10px;
}
/*programs-tab*/
/*cef-w-a-chry*/
.cef-w-a-chry p{
    font-size: 16px;
    line-height: 30px;
}
.cef-our-purpose{
    background: url('../../images/cefOurPurposeBg.jpg');
}
.cef-our-purpose h5.sub-title{
    color: #ffffff;
    font-size: 35px;
}
.cef-our-purpose p{
    color: #ffffff;
    font-size: 20px;
}
/*.cef-our-purpose p{
    background: #333 url('../../images/cefOurPurposeBg.jpg') no-repeat top center;
}*/
.cef-our-vision{
    color: #3c3c3c;
    background: #ffffff;
}
.cef-our-vision h4.section-title{
    color: #3c3c3c;
}
.cef-our-vision p{
    font-size: 26px;
    line-height: 
}
/*cef-w-a-chry*/
/*cefActivitiesInitiatives*/
.cefActivitiesInitiatives{
    background: url('../../images/CEFactivitiesInitiativesBg.png') no-repeat center bottom;
    background-size: cover;
}
.cefActivitiesInitiatives .section-title,.cefActivitiesInitiatives .title-qoute,.cefActivitiesInitiatives strong{
    color: #ffffff;
}
.cefActivitiesInitiatives strong{
    font-size: 20px;
}
.cefActivitiesInitiatives p{
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}
/*cefActivitiesInitiatives*/
/*team-hum*/
.team-hum .section-title{
    margin-bottom: 0;
}
.team-hum p.title-qoute{
    font-size: 18px;
    font-weight: 600;
    color: #454545;
    margin-bottom: 40px;
}
.team-hum p.team-hum-desc{
    font-size: 16px;
    line-height: 30px;
    color: #292929;
}
/*team-hum*/
/*cf-logo*/
.cf-logo{
    background: #ececec;
    padding: 70.5px 150px; 
}
.cf-details{
    background: url('../../images/cfSecBg.jpg') no-repeat left center;
            background-size: cover;
}
.cf-details p{
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
    padding: 25px 10px
}
/*cf-logo*/
/*initiatives*/
.initiatives ul{
    padding: 0 0 60px 0;
    margin: 0 0 0 60px;
    border-left: 4px solid #ecf0f1;
    position: relative;
}
.circle{
    width: 20px;
    height: 20px;
    background:#ecf0f1;
    border: 1px solid #ecf0f1;
    border-radius: 50%;
    position: absolute;
}
.top,
.bottom{
    left: -12px;
}
.bottom{
    bottom: 0;
}
.initiatives ul li {
    list-style: none;
    margin: 0 0 0 130px;
    position: relative;
    padding: 60px 0 0 0;
}
.initiatives .data div{
    float: left;
}
.initiative-img img{
    border: 8px solid #ecf0f1;
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
}
.initiative-details{
    width: 76%;
    margin: 0 0 0 40px;
}
.initiative-img,.initiative-details{
    /*display: table-cell;*/
}
.data {
    position: relative;
}
.date {
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #454545;
    border: 2px solid #ecf0f1;
    position: absolute;
    top: 70px;
    left: -194px;
    background: #ffffff;
}
.date span{
    font-size: 14px;
}
.initiative-details h5{
    font-size: 16px;
    font-weight: 700;
    color: #141414;
    text-transform: uppercase;
    text-align: left;
    line-height: 26px;
}
.initiative-details p{
    font-size: 16px;
    color: #646464;
    line-height: 30px;
    text-align: left;

}
/*initiatives*/
/*initiatives*/
.chrysalis-programes{
    background: #343332 url('../../images/businessOffTestimonialBg.jpg');
    padding-bottom: 60px;
}
/*initiatives*/
/*team-member*/
.team-member .team-detail-trigger{
    background: #f68b1f;
}
.team-member .team-detail-trigger i{
    font-size: 48px;
    color: #ffffff;
}
.team-ppl-box{
    border:1px solid #e0e0e0;
    border-top:none;
    padding: 20px 10px;
    text-align: center;
}
.team-member div div img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.team-member h6{
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 4px;
}
.team-member p{
    font-size: 12px;
    color: #737373;
    /*letter-spacing: 2px;*/
    text-transform: uppercase;
    margin: 0;
}
/*team-member*/
/*testimonial slider*/
.testimonial-slider .owl-controls{
    text-align: right;
}
.testimonial-slider .owl-controls .owl-pagination{
    margin-top: 10px;
}
.testimonial-slider .owl-controls .owl-page{
    display: inline-block;
}
.testimonial-slider .owl-controls .owl-page span{
    background: #fff;
    width: 15px;
    height: 15px;
    display: block;
    margin: 5px 7px;
    border-radius: 50%;
}
.testimonial-slider .owl-controls .owl-page.active span{
    background: #f68b1f;
}
.testimonial-slider .owl-controls .owl-buttons{
    position: relative;
    // height: 108px;
    text-align: left;
}
.testimonial-slider .owl-controls .owl-buttons div{
    height: 108px;
    width: 56px;   
    border-radius: 0;
    zoom:0;
    opacity: 1;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -200px;
    text-indent: -9999px;
    z-index: 99;
}
.testimonial-slider .owl-controls .owl-buttons div.owl-next{
    background: url('../../images/testi-right.png') no-repeat;
    right: -36.8%;
}
.testimonial-slider .owl-controls .owl-buttons div.owl-next:hover,.testimonial-slider .owl-controls .owl-buttons div.owl-next:active{
    background: url('../../images/testi-right-h.png') no-repeat;
}
.testimonial-slider .owl-controls .owl-buttons div.owl-prev{
    background: url('../../images/testi-left.png') no-repeat;
    left: -36.3%;
}
.testimonial-slider .owl-controls .owl-buttons div.owl-prev:hover, .testimonial-slider .owl-controls .owl-buttons div.owl-prev:active{
    background: url('../../images/testi-left-h.png') no-repeat;
}
/*testimonial slider*/
/*Gallery Slider*/
.gallery-slider .owl-controls .owl-buttons{
    position: relative;
    // height: 108px;
    text-align: left;
}
.gallery-slider .owl-controls .owl-buttons div{
    height: 36px;
    width: 26px;   
    border-radius: 0;
    zoom:0;
    opacity: 1;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -110px;
    text-indent: -9999px;
    z-index: 99;
}
.gallery-slider .owl-controls .owl-buttons div.owl-next{
    background: url('../../images/testi-right.png') no-repeat;
    background-position: -22px center;
    right: 0;

}
.gallery-slider .owl-controls .owl-buttons div.owl-next:hover,.gallery-slider .owl-controls .owl-buttons div.owl-next:active{
    background: url('../../images/testi-right-h.png') no-repeat;
    background-position: -22px center;
}
.gallery-slider .owl-controls .owl-buttons div.owl-prev{
    background: url('../../images/testi-left.png') no-repeat;
    background-position: -5px center;
    left: 0;
}
.gallery-slider .owl-controls .owl-buttons div.owl-prev:hover, .gallery-slider .owl-controls .owl-buttons div.owl-prev:active{
    background: url('../../images/testi-left-h.png') no-repeat;
    background-position: -5px center;
}
.gallery-slider{

}
/*Gallery Slider*/
/*client*/
.client-container{
    background: url('../../images/clientBg.jpg') no-repeat top center;
}
.client{
    text-align: center;
    font-size: 16px;
    color: #515151;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(255,255,255,0.3);
    border:1px solid #e9e9e9;
    padding-top:54px;
    padding-bottom:40px;
    height: 150px;
    position: relative;
}
.client i{
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(249,139,31,0.4);
    padding: 8px 10px; 
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
/*client*/
/*subscribe form*/       
.banner-qoute .subscribe-newsletter-button {
    color: #ffffff;
    background-color: #f58a1f;
    font-weight: 600;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    padding: 0px 35px;
    margin: 30px 0 0 0;
    display: inline-block;
    border-radius: 2px;
    text-transform: uppercase;
    border: 0;
}

.subscribe-login.modal {
    z-index: 99999;
}

.banner-qoute .subscribe-newsletter-button:active:focus {
    outline: 0;
    border: 0;
    background-color: #f58a1f;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.subscribe-login .subscribe-login .model-title {
    font-size: 14px;
    text-align: center;
    color: #333333;
}

.subscribe-login .modal-content {
    border-radius: 0px;
}

.subscribe-login .modal-content h4 {
    margin: 0 0 15px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.subscribe-login .modal-content input {
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    border: #dddddd solid 1px;
    font-size: 11px;
    font-weight: 600;
    color: #333333;
    height: 40px;
}

.subscribe-login .modal-body {
    padding: 25px;
}

.subscribe-login .subscribe-btn {
    color: #ffffff;
    background-color: #f58a1f;
    width: 100%;
    text-transform: uppercase;
    height: 40px;
    line-height: 36px;
    padding: 0;
    border-radius: 2px;
}

.subscribe-login button.close {
    color: #ffffff;
    background-color: #f58a1f;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    opacity: 1;
    font-size: 14px;
}

.subscribe-login.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    -webkit-overflow-scrolling: touch;
}

.subscribe-login.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
/*subscribe form*/