/*==========  Non-Mobile First Method  ==========*/
    @media only screen and (max-width : 1440px) {

        .testimonial-slider .owl-controls .owl-buttons div.owl-next{
            right: -28.1%;
        }
        .testimonial-slider .owl-controls .owl-buttons div.owl-prev{
            left: -28.1%;
        }
    }
    @media only screen and (max-width : 1366px) {

        .testimonial-slider .owl-controls .owl-buttons div.owl-next{
            right: -24%;
        }
        .testimonial-slider .owl-controls .owl-buttons div.owl-prev{
            left: -24%;
        }
    }
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        ul.navigation li, ul.social-media li {
            margin-left: 15px;
        }
        .cf-logo{
            padding: 100.5px 106px;
        }
        .initiative-details{
            width: 70%;
        }
        .about-us-our-purpose.our-programs-bg {
            padding: 20px 60px;
        }
        .about-us-our-purpose.our-programs-bg p {
            margin-bottom: 0;
        }
        .testimonial-slider .owl-controls .owl-buttons div.owl-next{
            right: -17%;
        }
        .testimonial-slider .owl-controls .owl-buttons div.owl-prev{
            left: -17%;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .cf-logo img{
            /*margin-top: 30px;*/
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .padding-top-bottom {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .logo a {
            padding: 10px 5px;
        }
        .logo a img{
            margin: 0 auto;
        }
        ul.footer-navigation{
            margin: 0 auto;
            float: none;
        }
        ul.footer-navigation li {
            float: left;
            margin-left: 0;
            padding: 0 19px;
        }
        ul.footer-navigation li a {
            line-height: 30px;
        }
        .footer p {
            text-align: center;
        }

        /*Home Page*/
        .footer p {
            text-align: center;
        }
        .programs-wrapper{
            position: relative;
            margin-bottom: 20px;
        }
        .prog-height-fix{
            height: auto;
            overflow: hidden;
        }
        .prog-height-fix img{
            max-width: 100%;
        }
        .our-programs-bg{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: rgba(0,0,0,0.8);
            z-index: 9;
        }
        .our-programs-bg {
            padding: 70px 30px;
        }
        .our-programs-bg h5, .our-programs-bg p{color: #fff;}
        .about-us-our-purpose.our-programs-bg {
            padding: 58px 30px;
        }
        /*Home Page*/
        .our-vision p br{
            display: none;
        }
        .core-value .row div:nth-child(even) i:after {
            position: inherit;
        }
        .inner-banner-qoute {
            height: 64px;
            top: 60px;
        }
        .banner-qoute i {
            font-size: 30px;
        }
        .banner-qoute p {
            font-size: 22px;
            line-height: 26px;
        }
        .core-value p {
            margin-bottom: 80px;
        }
        .cef-our-purpose {
            padding: 20px 0;
        }
        .cef-our-purpose p br{
            display: none;
        }
        .cef-our-purpose h5.sub-title,
        .cef-our-purpose p{
            text-align: center;
        }

        .cefActivitiesInitiatives{
            background-attachment: fixed;
        }
        .cf-details{
            background-size: cover;
        }
        .initiative-details{
            width: 58%;
        }
        /*.inner-banner-background img {
            height: 300px;
            width: auto;
            max-width: inherit;
        }*/
        .chrysalis-programes{
            background-size: cover;
            background-position: 40% 0;
        }
        .testimonial-slider .owl-controls .owl-buttons div.owl-next{
            right: -15.2%;
        }
        .testimonial-slider .owl-controls .owl-buttons div.owl-prev{
            left: -15.2%;
        }
        .contact-info {
            padding: 30px 10px 10px;
        }

        .contact-form-container{
            background-size: cover;
        }
        .cf-logo{
            padding: 60px 231px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        .cef-our-vision p {
            font-size: 18px;
            line-height: 28px;
        }
        h4.section-title {
            font-size: 25px;
            color: #393737;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
        }

        h5.sub-title {
            font-size: 20px;
            color: #454545;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: -1.5px;
            margin-bottom: 20px;
        }
        .qoute p {
            font-size: 24px;
        }
        .prog-height-fix img{
            max-width: inherit;
            height: 320px;
        }
        .our-programs-bg{
            /*position: inherit;*/
        }
        .our-programs-bg {
            padding: 30px 30px;
        }
        .core-value i:after{
            position: inherit;
        }
        ul.footer-navigation li a {
            line-height: 30px;
        }
        /*initiatives*/
        .initiatives ul{
            padding: 0;
            margin: 0;
            border:none;
        }
        .circle{
            display: none;
        }
        .initiatives ul li {
            padding: 0;
            margin: 0 0 30px 0;
            border: 1px solid #ecf0f1;
            border-top: none;
        }
        .initiatives .data div{
            width: 100%;
            float: none;
        }
        .initiative-img img{
            margin: 0 auto;
            display: block;
        }
        .initiative-details{
            width: 100%;
            margin: 0;
            padding: 0 10px;
        }
        .data{
            position: inherit;
        }
        .date {
            width: 100%;
            border-top: 2px solid #f68b1f;
            border-bottom: 1px solid #ecf0f1;
            border-left: none;
            position: inherit;
            left: 0;
            top: 0;
            margin: 0 0 20px 0;
        }
        /*initiatives*/
        .special-moments h4.section-title {
            text-transform: capitalize;
            font-size: 25px;
            line-height: 40px;
        }
        .testimonial-slider .owl-controls .owl-buttons div{
            display: none;
        }
        .testimonial-slider .slider{
            width: 100%;
        }

        .testimonial-container p {
            font-size: 16px;
            line-height: 30px;
        }
        .program-info h4, .program-info h6{
            font-size: 24px;
            margin-bottom: 20px;
        }
        .program-info p {
            font-size: 14px;
            line-height: 24px;
        }
        .program-info li {
            font-size: 14px;
            line-height: 26px;
        }
        .about-us-our-purpose.our-programs-bg {
            padding: 30px;
        }
        .our-programs-bg h5, .our-programs-bg p{color: #fff;}
        .about-mg a.mg-logo {
            line-height: 20px;
            padding: 10px 10px 10px 70px;
        }
        /*.contact-info {
            padding: 30px;
        }*/
        .lets-connect{
            width: 100%;
            position: inherit;
            top: 0
        }
        .purpose-img{
            height: 200px;
        }
        .cf-logo {
            padding: 15% 17%;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 380px) {
        .our-programs-bg {
            padding: 30px 30px;
        }
    }
    @media only screen and (max-width : 320px) {
        .prog-height-fix img{
            max-width: inherit;
            height: 370px;
        }
        .our-programs-bg {
            padding: 16px 30px;
        }
        .our-programs-bg h5{
            font-size: 20px;
        }
        .purpose-img{
            height: 230px;
        }

        /*.contact-info {
            padding: 30px 0;
        }*/
    }