
/*!
 * custom css
 */

.clearfix {
    clear: both;
}

.logo a {
    display: block;
    padding: 12px 5px;
}

.smallHeader .header-top .social-media-container {
    margin-top: -30px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.smallHeader .header-top {
    background: #fff;
}

.header-top {
    /*
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;*/
    /*border-top:10px solid #1f1f1f;*/
    /*display: none;*/
}

.header-inner-top {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.side-nav i {
    position: absolute;
    font-size: 21px;
    color: #ffffff;
    top: 30%;
    left: 15px;
    z-index: 9
}

.left-border {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

ul.navigation, ul.navigation li ol {
    padding: 0;
    margin: 0;
    float: right;
}

ul.navigation li ol {
    position: absolute;
    z-index: 1;
    padding: 10px 0px 0 15px;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    margin: -20px 0 0 0;
}

ul.navigation li ol li {
    float: none;
    margin: 0 0 10px 0;
    width: 180px;
}

ul.navigation li ol li a {
    line-height: normal;
}
















ul.navigation li ol li ol {
    position: absolute;
    z-index: 1;
    padding: 10px 15px 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display: none;
    visibility: hidden;
    right: -210px;
    top: -20px;
}



ul.navigation li ol li:hover ol {
    margin-top: 10px;
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

ul.navigation li ol li:hover ol {
    margin-top: 10px;
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


ul.navigation li ol li:hover a {
   color: #f68b1f;
}


ul.navigation li ol li ol li a {
   color: #fff!important;
}

ul.navigation li ol li ol li:hover a {
   color: #f68b1f!important;
}






ul.navigation li, ul.social-media li {
    float: left;
    list-style: none;
    margin-left: 20px;
    position: relative;
}

ul.navigation li a {
    line-height: 64px;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    display: block;
}

ul.navigation li:hover ol {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

ul.navigation li ol a:hover:after, ul.navigation li ol a.active:after {
    /*ul.navigation li a:after{*/
    content: '';
}

ul.navigation li a:hover:after, ul.navigation li a.active:after {
    /*ul.navigation li a:after{*/
    content: '...';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    text-align: center;
    color: #f68b1f;
    font-size: 30px;
    letter-spacing: 1px;
}

ul.navigation li#home a:hover:after, ul.navigation li#home a.active:after {
    left: -8px;
}

.social-media-container {
    /*border-left: 1px solid rgba(255,255,255,.2);*/
    /*background: #1f1f1f;*/
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

ul.social-media {
    line-height: 30px;
    margin: 0;
    padding: 0;
}

ul.social-media li {
    margin-right: 0;
    margin-left: 25px;
    float: right;

}
ul.social-media li.chry-login-btn {
    background: #333;
    border-bottom: 2px solid #f58a1f;
    line-height: 24px;
}
ul.social-media li.chry-login-btn a {
    padding: 0 43px;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}
ul.social-media li a i {
    color: #272525;
    font-size: 18px;
}

ul.social-media li a:hover i {
    color: #f68b1f;
}


/*banner*/

.banner-qoute i {
    font-size: 50px;
}

.banner-qoute p {
    font-size: 40px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-weight: 300;
    color: #fff;
}

.banner-qoute .bottom-line {
    width: 40px;
    height: 4px;
    background: #f68b1f;
    margin: 0px auto 0;
}

.banner-qoute p span {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-transform: lowercase;
    line-height: 22px;
    display: block;
}

.play-banner-video {
    margin-top: 30px;
    cursor: pointer;
}

.play-banner-video a i {
    background: #f68b1f;
    color: #ffffff;
    font-size: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
}


/*banner*/


/*our-programs*/

.our-programs {
    padding-top: 20px;
}

.our-programs p {
    float: none;
    line-height: 25px;
    color: #464646;
    margin-bottom: 20px;
}

.our-programs-bg {
    padding: 34px 30px;
}

.about-us-our-purpose.our-programs-bg {
    padding: 50px 60px;
}

.our-programs-bg a {
    margin-bottom: 10px;
}

.programs-wrapper {
    background: #f8f8f8;
}

.purpose-img.prog-height-fix {
    height: 228px;
}

.prog-height-fix {
    height: 308px;
    overflow: hidden;
}

.prog-height-fix img {
    width: 100%;
}


/*our-programs*/


/*about-mg*/

.about-mg {
    // height: 607px;
    height: 100%;
    // padding-top:80px; 
    background: url('../../images/aboutMgBg.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 90px;
}

.about-mg h6, .about-mg h6 a {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.about-mg span {
    color: #f68b1f;
    font-size: 15px;
    margin-bottom: 20px;
    display: block;
}

.about-mg p {
    color: #e5e5e5;
    font-size: 14px;
    line-height: 26px;
}

.about-mg a.mg-logo {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    padding: 0px 10px 0px 70px;
    margin: 30px 0;
    display: inline-block;
    background: #f58a1f url('../../images/mgLogo.png') no-repeat 12px 9px;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    border-radius: 3px
}

.about-mg-img-box {
    /*position: relative;*/
}

.about-mg-img-box img {
    margin-top: -150px;
    margin-left: 80px;
}


/*about-mg*/


/*about-chrysalis*/

.you-tube-video {
    position: relative;
}

.about-chrysalis h5.sub-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.you-tube-video .youtube-play-btn {
    position: absolute;
    top: 0;
    /*left: 0;*/
    bottom: 0;
    right: 0;
    margin: auto;
    line-height: 40px;
    height: 40px;
    width: 120px;
    background: #3f3e3e;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}

.you-tube-video .youtube-play-btn:after {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    content: '';
    position: absolute;
    left: -20px;
    background: #3f3e3e;
}

.about-info-box {
    padding: 10px 30px 30px 30px;
    background: #e3e3e3;
}

.about-info-box p {
    color: #3f3e3e;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}

.about-info-box p strong {
    color: #f68b1f
}

.about-info-box a {
    height: 43px;
    width: 43px;
    line-height: 43px;
    background: #f68b1f;
    color: #ffffff;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    display: block;
    text-decoration: none;
    float: right;
}


/*about-chrysalis*/


/*testimonial-slider*/

.testimonial-slider {
    background: #343332 url('../../images/videoOverlay.png');
    padding-top: 100px;
    /*padding-bottom: 100px;*/
}

.testimonial-slider .slider {
    width: 80%;
    margin: 0 auto;
}

.testimonial-slider .more-testimonials {
    display: block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    background: #f68b1f;
    margin-top: -100px;
    width: 240px;
    text-decoration: none;
    letter-spacing: 1px;
}

.testimonial-container {
    text-align: center;
}

.testimonial-user-img {
    margin: 20px auto;
    width: 95px;
    height: 95px;
    padding: 5px 0px;
    border-radius: 50%;
    border: 2px solid #f68b1f;
}

.testimonial-container p {
    font-size: 21px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 300;
    position: relative;
}

.testimonial-txt .qouteTop {
    position: relative;
    top: -20px;
}

.testimonial-txt .qouteBottom {
    position: relative;
    bottom: 13px;
}

.testimonial-container span {
    font-size: 15px;
    color: #f68b1f;
    letter-spacing: 1px;
    margin-top: 10px;
    display: block;
}


/*testimonial-slider*/


/*inner-banner-qoute*/

.inner-banner-qoute {
    height: 185px;
    top: 190px;
}

.inner-banner-qoute p {
    font-weight: 700;
    color: #fff;
}

.inner-banner-qoute p i {
    /*margin-bottom:20px; */
    display: block;
}


/*inner-banner-qoute*/

.inner-header-container {
    position: relative;
}


/*core-value-container*/

.core-value-container {
    padding-top: 70px;
    background: #333 url('../../images/coreValueBg.jpg') no-repeat top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.core-value-container h4.section-title {
    color: #ffffff;
}

.core-value-container p.title-qoute {
    color: #dadada;
    font-style: normal;
}

.bottom-line {
    width: 40px;
    height: 4px;
    background: #f68b1f;
    margin: 20px auto 0;
}

.core-value {
    color: #fff;
    text-align: center;
}

.core-value i {
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 36px;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.core-value i:after {
    content: "";
    position: absolute;
    top: 40px;
    width: 160px;
    height: 1px;
    right: -80px;
    background: #5c554e;
}

.core-value .last-value i:after {
    position: inherit;
}

.core-value p {
    line-height: 24px;
    font-size: 14px;
}


/*core-value-container*/

.our-vision {
    color: #ffffff;
    background: #f68b1f url('../../images/videoOverlay.png') repeat;
}

.our-vision h4.section-title {
    color: #ffffff;
}

.our-vision p {
    font-size: 24px;
    font-style: italic;
    line-height: 36px;
    text-align: center;
    font-weight: 300;
}


/*footer-navigation*/

.footer .design-by {
    background: #151515;
}

.footer .design-by p {
    text-align: center;
}

.footer .design-by strong {
    color: #007993;
}

.footer {
    background: #1c1c1c;
}

.footer p {
    color: #6b6b6b;
    font-size: 13px;
    font-weight: 600;
    line-height: 60px;
    margin: 0
}

ul.footer-navigation {
    float: right;
    margin: 0;
    padding: 0
}

ul.footer-navigation li {
    float: left;
    list-style: none;
    margin-left: 10px;
}

ul.footer-navigation li a {
    font-size: 13px;
    color: #7f7f7f;
    line-height: 60px;
    text-transform: capitalize;
    text-decoration: none;
}

ul.footer-navigation li a.active {
    color: #ffffff;
}


/*footer-navigation*/


/*special-moments*/

.special-moments h4.section-title {
    text-transform: capitalize;
}

.special-moments p.title-qoute {
    color: #929292;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
}

.testimonial-team {
    background: none;
    padding: 60px 0;
}

.testimonial-team .testimonial-user-img {
    border: none;
}

.testimonial-team .testimonial-txt {
    color: #606060;
    font-size: 20px;
    line-height: 34px;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.testimonial-team .testimonial-container span {
    color: #f68b1f;
    font-size: 18px;
}

.testimonial-team .testimonial-container span span {
    font-size: 12px;
    margin-top: 0
}

.testimonial-team.testimonial-slider .owl-controls .owl-page span {
    background: #d2d2d2;
}


/*special-moments*/


/*contact us*/

#map {
    /*height: 400px;*/
}

.contact-us-txt {
    margin: 0 auto;
    float: none;
}

.contact-us-txt p {
    color: #41403f;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.contact-us-txt p strong {
    color: #f68b1f;
    font-weight: 600;
    font-style: italic;
}

.contact-us-form .form-group {
    margin-bottom: 30px;
}

.contact-us-form .form-group input.form-control, .form-group select.form-control, .contact-us-form .form-group input.form-control[placeholder], .contact-us-form .form-group textarea.form-control {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    background: transparent;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.lets-connect-container {
    position: relative;
}

.lets-connect {
    width: 354px;
    padding: 20px 20px;
    position: absolute;
    background: rgba(28, 28, 28, 0.7);
    top: 149px;
    left: 10px;
}

.lets-connect h4 {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}

.lets-connect p {
    font-size: 14px;
    color: #ffffff;
    line-height: 24px;
    margin: 0;
}

.get-connected-container {
    background: url('../../images/cc.jpg');
    background-size: cover;
}

.get-connected {
    padding: 30px;
}

.get-connected h5 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.get-connected p {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}

.contact-form-container {
    background: #424242 url('../../images/contactFormBg.jpg') no-repeat center center;
}

.contact-info-container {
    /*background: #f1f1f1;*/
    /*background-size: cover;*/
}

.contact-info {
    /*padding: 30px 50px;*/
}

.contact-info-container .contact-info h5 {
    color: #454545;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contact-info-container .contact-info i.fa-map-marker {
    font-size: 36px;
}

.contact-info-container .contact-info i.fa-envelope-o {
    font-size: 28px;
}

.contact-info-container .contact-info i {
    font-size: 40px;
    color: #f68b1f;
    /*display: inline-block;
    position: absolute;
    top: 0;
    left: 0;*/
    float: left;
    margin: 0 10px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 18px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
}

.error {
    color: orange;
    font-weight: 300;
    font-size: 12px;
}

.contact-info-container .contact-info p {
    color: #ffffff;
    font-size: 14px;
    /*display: inline-block;*/
    line-height: 28px;
    float: left;
    width: 76%;
}

.contact-info-container .contact-info .contact-detail .row div {
    position: relative;
    /*padding: 0px 0 0 120px;*/
    margin-bottom: 20px;
}


/*contact us*/


/*testimonials-container*/

.testimonials-container {}

.testimonials-container h4.section-title {
    /*text-transform: capitalize;*/
}

.testimonials-container ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    padding: 0
}

.testimonials-container ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #141414;
    border: 1px solid #ececec;
    padding: 6px 20px;
    margin-left: 20px;
    cursor: pointer;
}

.testimonials-container ul li:hover, .testimonials-container ul li.active {
    border: 1px solid #f68b1f;
    color: #f68b1f;
}

.testimonial-filter {
    text-align: center;
    margin: 0 0 50px 0;
    /*margin: 50px 0;*/
}

.testimonial-top {
    background: #f2f2f2;
    padding: 40px 30px
}

.testimonial:nth-child(odd) .testimonial-top {
    background: #dfdfdf;
}

.testimonial {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.testimonial p {
    font-size: 14px;
    color: #464646;
    line-height: 22px;
}

.testimonial h6 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #f68b1f;
    font-weight: 600;
    line-height: 24px;
    font-style: italic;
}

.testimonial-user {
    margin: -50px auto 40px;
    width: 95px;
    height: 95px;
    padding: 6px 5px;
    border-radius: 50%;
    border: 2px solid #f68b1f;
}

.testimonial-user img {
        width: 80px;
    border-radius: 50px;
    height: 80px;
    object-fit: cover;
}
/*testimonials-container*/


/*programs-tab*/

.uprog-lnk p {
    margin: 0;
}

.uprog-lnk p a {
    text-decoration: underline;
    font-style: italic;
    color: #f68b1f;
}

.uprog-lnk {
    text-align: center;
    padding: 30px 0px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    margin-bottom: 60px;
    font-size: 18px;
}

.programs-tab {
    text-align: center;
    background: #eaeaea;
    margin: 0 0 40px 0;
    /*margin: 40px 0;*/
}

.program-info h4 p {
    margin-bottom: 0;
    font-size: 16px;
}

.programs-tab ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.programs-tab ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.programs-tab ul li a {
    padding: 15px 20px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #464646;
    text-decoration: none;
}

.programs-tab ul li a:hover, .programs-tab ul li a.active {
    border-top: 1px solid #f68b1f;
    border-bottom: 1px solid #f68b1f;
    color: #f68b1f;
    padding: 14px 20px;
}

.program-info {
    /*display: none;*/
}

.program-info h4, .program-info h6 {
    font-size: 32px;
    color: #393737;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.program-info h6 {
    font-size: 24px;
    margin: 40px 0 30px 0;
}

.program-info p {
    color: #464646;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.program-info ul {
    margin: 0;
    padding: 0;
}

.program-info li {
    list-style: none;
    font-size: 18px;
    color: #424242;
    position: relative;
    line-height: 30px;
    padding: 0 0 0 22px;
    margin-bottom: 10px;
}

.program-info li i {
    font-size: 8px;
    color: #f68b1f;
    margin-right: 8px;
    position: absolute;
    left: 0;
    top: 10px;
}


/*programs-tab*/


/*cef-w-a-chry*/

.cef-w-a-chry p {
    font-size: 16px;
    line-height: 30px;
}

.cef-our-purpose {
    background: url('../../images/cefOurPurposeBg.jpg');
}

.cef-our-purpose h5.sub-title {
    color: #ffffff;
    font-size: 35px;
}

.cef-our-purpose p {
    color: #ffffff;
    font-size: 20px;
}


/*.cef-our-purpose p{
    background: #333 url('../../images/cefOurPurposeBg.jpg') no-repeat top center;
}*/

.cef-our-vision {
    color: #3c3c3c;
    background: #ffffff;
}

.cef-our-vision h4.section-title {
    color: #3c3c3c;
}

.cef-our-vision p {
    font-size: 26px;
    line-height:
}


/*cef-w-a-chry*/


/*cefActivitiesInitiatives*/

.cefActivitiesInitiatives {
    background: url('../../images/CEFactivitiesInitiativesBg.png') no-repeat center bottom;
    background-size: cover;
}

.cefActivitiesInitiatives .section-title, .cefActivitiesInitiatives .title-qoute, .cefActivitiesInitiatives strong {
    color: #ffffff;
}

.cefActivitiesInitiatives strong {
    font-size: 20px;
}

.cefActivitiesInitiatives p {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}


/*cefActivitiesInitiatives*/


/*team-hum*/

.team-hum .section-title {
    margin-bottom: 0;
}

.team-hum p.title-qoute {
    font-size: 18px;
    font-weight: 600;
    color: #454545;
    margin-bottom: 40px;
}

.team-hum p.team-hum-desc {
    font-size: 16px;
    line-height: 30px;
    color: #292929;
}


/*team-hum*/


/*cf-logo*/

.cf-logo {
    background: #ececec;
    padding: 70.5px 150px;
}

.cf-details {
    background: url('../../images/cfSecBg.jpg') no-repeat left center;
    background-size: cover;
}

.cf-details p {
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
    padding: 25px 10px
}


/*cf-logo*/


/*initiatives*/

.initiatives ul {
    padding: 0 0 60px 0;
    margin: 0 0 0 60px;
    border-left: 4px solid #ecf0f1;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    background: #ecf0f1;
    border: 1px solid #ecf0f1;
    border-radius: 50%;
    position: absolute;
}

.top, .bottom {
    left: -12px;
}

.bottom {
    bottom: 0;
}

.initiatives ul li {
    list-style: none;
    margin: 0 0 0 130px;
    position: relative;
    padding: 60px 0 0 0;
}

.initiatives .data div {
    float: left;
}

.initiative-img img {
    border: 8px solid #ecf0f1;
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.initiative-details {
    width: 76%;
    margin: 0 0 0 40px;
}

.initiative-img, .initiative-details {
    /*display: table-cell;*/
}

.data {
    position: relative;
}

.date {
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #454545;
    border: 2px solid #ecf0f1;
    position: absolute;
    top: 70px;
    left: -194px;
    background: #ffffff;
}

.date span {
    font-size: 14px;
}

.initiative-details h5 {
    font-size: 16px;
    font-weight: 700;
    color: #141414;
    text-transform: uppercase;
    text-align: left;
    line-height: 26px;
}

.initiative-details p {
    font-size: 16px;
    color: #646464;
    line-height: 30px;
    text-align: left;
}


/*initiatives*/


/*initiatives*/

.chrysalis-programes {
    background: #343332 url('../../images/businessOffTestimonialBg.jpg');
    /*padding-bottom: 60px;*/
}


/*initiatives*/


/*team-member*/

.team-member .team-detail-trigger {
    background: #f68b1f;
}

.team-member .team-detail-trigger i {
    font-size: 48px;
    color: #ffffff;
}

.team-ppl-box {
    padding: 10px 10px;
    text-align: center;
    min-height: 60px;
    background-color: #333;
    border-top: 1px dashed #f68b1f;
}

.team-member div div img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.team-member h6 {
    font-size: 16px;
    color: #f68b1f;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 4px;
}

.team-member p {
    font-size: 12px;
    color: #fff;
    /*letter-spacing: 2px;*/
    text-transform: uppercase;
    margin: 0;
}



.myteam-box {
    border: 5px solid #fff;
    box-shadow: 1px 2px 4px #ccc;
}

/*team-member*/


/*testimonial slider*/

.testimonial-slider .owl-controls {
    text-align: right;
}

.testimonial-slider .owl-controls .owl-pagination {
    margin-top: 10px;
}

.testimonial-slider .owl-controls .owl-page {
    display: inline-block;
}

.testimonial-slider .owl-controls .owl-page span {
    background: #fff;
    width: 15px;
    height: 15px;
    display: block;
    margin: 5px 7px;
    border-radius: 50%;
}

.testimonial-slider .owl-controls .owl-page.active span {
    background: #f68b1f;
}

.testimonial-slider .owl-controls .owl-buttons {
    position: relative;
    // height: 108px;
    text-align: left;
}

.testimonial-slider .owl-controls .owl-buttons div {
    height: 108px;
    width: 56px;
    border-radius: 0;
    zoom: 0;
    opacity: 1;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -200px;
    text-indent: -9999px;
    z-index: 99;
}

.testimonial-slider .owl-controls .owl-buttons div.owl-next {
    background: url('../../images/testi-right.png') no-repeat;
    right: -36.8%;
}

.testimonial-slider .owl-controls .owl-buttons div.owl-next:hover, .testimonial-slider .owl-controls .owl-buttons div.owl-next:active {
    background: url('../../images/testi-right-h.png') no-repeat;
}

.testimonial-slider .owl-controls .owl-buttons div.owl-prev {
    background: url('../../images/testi-left.png') no-repeat;
    left: -36.3%;
}

.testimonial-slider .owl-controls .owl-buttons div.owl-prev:hover, .testimonial-slider .owl-controls .owl-buttons div.owl-prev:active {
    background: url('../../images/testi-left-h.png') no-repeat;
}


/*testimonial slider*/


/*Gallery Slider*/

.gallery-slider .owl-controls .owl-buttons {
    position: relative;
    // height: 108px;
    text-align: left;
}

.gallery-slider .owl-controls .owl-buttons div {
    height: 36px;
    width: 26px;
    border-radius: 0;
    zoom: 0;
    opacity: 1;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -110px;
    text-indent: -9999px;
    z-index: 99;
}

.gallery-slider .owl-controls .owl-buttons div.owl-next {
    background: url('../../images/testi-right.png') no-repeat;
    background-position: -22px center;
    right: 0;
}

.gallery-slider .owl-controls .owl-buttons div.owl-next:hover, .gallery-slider .owl-controls .owl-buttons div.owl-next:active {
    background: url('../../images/testi-right-h.png') no-repeat;
    background-position: -22px center;
}

.gallery-slider .owl-controls .owl-buttons div.owl-prev {
    background: url('../../images/testi-left.png') no-repeat;
    background-position: -5px center;
    left: 0;
}

.gallery-slider .owl-controls .owl-buttons div.owl-prev:hover, .gallery-slider .owl-controls .owl-buttons div.owl-prev:active {
    background: url('../../images/testi-left-h.png') no-repeat;
    background-position: -5px center;
}

.gallery-slider {}


/*Gallery Slider*/


/*client*/

.client-container {
    background: url('../../images/clientBg.jpg') no-repeat top center;
}

.client {
    text-align: center;
    font-size: 16px;
    color: #515151;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #e9e9e9;
    padding-top: 54px;
    padding-bottom: 40px;
    height: 150px;
    position: relative;
}

.client i {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(249, 139, 31, 0.4);
    padding: 8px 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}


/*client*/


/*subscribe form*/

.banner-qoute .subscribe-newsletter-button {
    color: #ffffff;
    background-color: #f58a1f;
    font-weight: 600;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    padding: 0px 35px;
    margin: 30px 0 0 0;
    display: inline-block;
    border-radius: 2px;
    text-transform: uppercase;
    border: 0;
}

.subscribe-login.modal {
    z-index: 99999;
}

.banner-qoute .subscribe-newsletter-button:active:focus {
    outline: 0;
    border: 0;
    background-color: #f58a1f;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.subscribe-login .subscribe-login .model-title {
    font-size: 14px;
    text-align: center;
    color: #333333;
}

.subscribe-login .modal-content {
    border-radius: 0px;
}

.subscribe-login .modal-content h4 {
    margin: 0 0 15px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.subscribe-login .modal-content input {
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    border: #dddddd solid 1px;
    font-size: 11px;
    font-weight: 600;
    color: #333333;
    height: 40px;
}

.subscribe-login .modal-body {
    padding: 25px;
}

.subscribe-login .subscribe-btn {
    color: #ffffff;
    background-color: #f58a1f;
    width: 100%;
    text-transform: uppercase;
    height: 40px;
    line-height: 36px;
    padding: 0;
    border-radius: 2px;
}

.subscribe-login button.close {
    color: #ffffff;
    background-color: #f58a1f;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    opacity: 1;
    font-size: 14px;
}

.subscribe-login.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    -webkit-overflow-scrolling: touch;
}

.subscribe-login.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

/*subscribe form*/





/*---------------------------
11. footer
----------------------------- */
.footer-top-area {
  background: #2d2d2d none repeat scroll 0 0;
  padding: 2px 0;
}
.footer-widget{}
.footer-widget h3 {
  border-bottom: 1px solid #5b5b5b;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
  text-transform: uppercase;
  line-height: 11px;
}
ul.footer-menu{margin-left: -40px;}
ul.footer-menu li { list-style: none; }
ul.footer-menu li a {
  color: #d5d5d5;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  border-bottom: 1px dashed #5b5b5b;
}
ul.footer-menu li:last-child a{padding-bottom:0;}
ul.footer-menu li a:hover{color:#fec34d}
ul.footer-menu li a::before {
  content: "\f101";
  display: inline-block;
  font-family: fontawesome;
  margin-right: 8px;
  position: relative;
  top: 0;
}
.footer-widget img{}
.footer-widget p {
  color: #d5d5d5;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 22px;
}
.widget-icon{}
.widget-icon a {

  background: #f68b1f;
  border: 1px solid #f68b1f;
  color: #2d2d2d;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 32px;
  margin-right: 8px;
}
.widget-icon a:hover{background:none;color:#fff;border-color:#ce7113}
.widget-icon a i{}
ul.footer-contact{ margin-left: -40px;}
ul.footer-contact li {
  clear: both;
  display: inline-block;
  padding-bottom: 15px;
  color: #d5d5d5;
  width: 100%;
  font-size: 13px;
}
ul.footer-contact li i {
  border: 1px solid #d5d5d5;
  border-radius: 0;
  color: #d5d5d5;
  float: left;
  font-size: 16px;
  height: 29px;
  line-height: 27px;
  margin-right: 15px;
  text-align: center;
  width: 29px;
}
.footer-bottom-area {
  background: #212121;
  padding: 10px 0;
}
.copyright {
  margin-top: 4px;
}
.copyright p {
  color: #d5d5d5;
  margin: 0;
}
.copyright p a{color:#fec34d}
.copyright p a:hover{text-decoration:underline}
.payment-img {
  float: right;
}













/*-- contact --*/
.contact-info-left {
    float:left;
    width:5%;
}
.ftr-address i {
    color: #0064d2;
    vertical-align: top;
    font-size: 1em;
    margin-top: 24px;
}
.contact-info:nth-child(3), .contact-info:nth-child(2) {
    margin: 3em 0;
}
.contact-info i {
    color: #fff;
    font-size: 20px;
}
.contact-info-right {
    float: left;
    margin: 0 0 0 1em;
}
.contact-info-right h5{
    color: #000000;
    font-size: 1em;
    margin: 0 0 .5em 0;
    font-weight: 600;
}
.contact-info-right p{
    letter-spacing: 1px;
    color: #fff;
    line-height: 1.8em;
    margin: 1em 0 0 0;
}
.contact-info-right ul{
    padding:0;
    margin:0;
}
.contact-info-right ul li{
    display:block;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: .4em;
}
.contact-info-right ul li a{
    letter-spacing: 1px;
    color: #fff;
    text-decoration:none;
}
.contact-info-right ul li a:hover{
        color: #0064d2;
}
.contact input[type="text"],.contact input[type="email"] {
    width: 100%;
    color: #555;
    float: left;
    background: none;
    outline: none;
    font-size: .9em;
    padding: .7em 1em;
    margin-bottom: 1.5em;
    border: none;
    border-bottom: solid 1px #fff;
    -webkit-appearance: none;
    display: inline-block;
}
input.phone {
    width: 100% !important;
    float: none;
}
.contact-form textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #999;
    font-size: .9em;
    outline: none;
    padding: .6em .8em;
    border: none;
    border-bottom: solid 1px #fff;
    min-height: 12em;
    -webkit-appearance: none;
}
.contact-form input[type="submit"] {
    float: right;
    outline: none;
    color: #fff;
    padding: 0.6em 3em;
    font-size: .9em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #8abe01;
    transition: 0.5s all;
    border: 1px solid #8abe01;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.contact-form input[type="submit"]:hover {
    color: #fff;
    background: #f35a5a;
    border: 1px solid #f35a5a;
}

.contact-left h3 {
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 34px;
}
.contact{
    padding:1em 0 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
::-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
::-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
/*-- //contact --*/




@media (max-width: 768px) { 

    .contact-left {
        padding: 1em;
        background: #f68b1f;
    }
    .contact-form {
        padding:1em;
        background: url(../../images/contactFormBg.jpg) no-repeat 0px 0px;
        background-size: cover;
    }

}


@media (min-width: 769px) { 

    .contact-left {
        padding: 3em 2em 5em 5em;
        background: #f68b1f;
    }
    .contact-form {
        padding:5em;
        background: url(../../images/contactFormBg.jpg) no-repeat 0px 0px;
        background-size: cover;
    }

}


.myspace
{
    margin-top: 2em;
}










/* services */

.w3ls-sub-text {
    padding-left: 3em;
}

.w3_agileits-service-left p {
    color: #fff;
}

div#services h3 {
    color: #fff;
}

.services-grid img {
    border-radius: 50%;
    -webkit-border-radius:50%;
}

.services-w3ls-row.agileits-w3layouts.service1,
.services-w3ls-row.agileits-w3layouts.service4 {
    margin: 0 auto;
    width: 25%;
    text-align: center;
    position: relative;
}

.services-w3ls-row.agileits-w3layouts.service1:before,
.services-w3ls-row.agileits-w3layouts.service4:before {
    content: '';
    background: #fff;
    display: block;
    width: 21%;
    left: 39%;
    height: 2px;
    transform: rotate(90deg);
    position: absolute;
}

.services-w3ls-row.agileits-w3layouts.service1:before {
    bottom: -35px;
}

.services-w3ls-row.agileits-w3layouts.service4:before {
    top: -35px;
}

.services-grid.agileits-w3layouts.service2 {
    text-align: right;
    padding-right: 4em;
    padding-left: 2em;
}

.services-grid.agileits-w3layouts.service3 {
    padding-left: 4em;
    padding-right: 2em;
}

.sub-icon {
    margin-top: 3em;
}

.sub-icon span,
.s-top span {
    font-size: 4em;
    color: #fff;
}

div#services {
    background: #333 url('../../images/coreValueBg.jpg') no-repeat top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.agileits-w3layouts h5 {
    color: #e4e0e0;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 0.5em;
}

.s-top {
    margin: 1em 0;
}

.services-grid.agileits-w3layouts {
    margin-top: 9em;
}

.services-grid img {
    padding: 2em;
    border: 10px solid #fff;
    background: #f2849e;
    margin: 3.6em 0;
    position: relative;
}

.img-agileits:before,
.img-agileits:after {
    content: '';
    background: #fff;
    display: block;
    width: 16%;
    top: 46%;
    height: 2px;
    position: absolute;
}

.img-agileits:before {
    left: -35px;
}

.img-agileits:after {
    right: -45px;
}

.w3ls-section {
    padding: 2em 0;
}

h3.agileits-title {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.5em;
    color: #fff;
    text-align: center;
}

.w3ls-sub-text p {
   color:#fff;
}

.service4 p {
   color:#fff;
}

.service1 p {
   color:#fff;
}

.myttl h4
{
    color: #fff!important;
}

.myttl p
{
    color: #fff!important;
}
/*//services */


.inner-banner-qoute2 {
    padding-top: 3em;
}



.inner-banner-qoute2 h4{
    font-size: 35px!important;
    color: #393737!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    text-align: center!important;
    letter-spacing: 1px!important;
}

.mft p
{
font-size: 1.3em!important;
font-style: italic!important;
line-height: 1.4em!important;
}










/* -- Responsive code -- */
@media screen and (max-width: 1600px){
    
}
@media screen and (max-width: 1440px){}
@media screen and (max-width: 1366px){}
@media screen and (max-width: 1280px){}
@media screen and (max-width: 1080px){
    
    .services-grid.agileits-w3layouts {
        margin-top: 7em;
    }
}
@media screen and (max-width: 1050px){}
@media screen and (max-width: 1024px){
   
    .services-grid.agileits-w3layouts.service3 {
        padding-left: 1em;
    }
    .services-grid.agileits-w3layouts.service2 {
        padding-right: 2em;
    }
    .img-agileits:before {
        left: -3px;
    }
}
@media screen and (max-width: 991px){
   
    .services-w3ls-row.agileits-w3layouts.service1,.services- w3ls-row.agileits-w3layouts.service4,.services-grid.agileits-w3layouts.service2{
        margin: 0 1em;
        width: 46%;
        float: left;
       text-align: left;
       padding: 0;
    }
    .services-w3ls-row.agileits-w3layouts.service1:before,.img-agileits:before,.img-agileits:after,.services-w3ls-row.agileits-w3layouts.service4:before{
        display: none;
    }
    .w3ls-sub-text {
        padding-left: 0;
    }
    .sub-icon{
        padding: 0;
        margin: 1em 0;
    }
    .services-grid.agileits-w3layouts{
        margin: 0;
    }
    .sub-icon {
        margin-top: 1em;
    }
  .services-grid.agileits-w3layouts.service3,.services-w3ls-row.agileits-w3layouts.service4 {
        float: none;
        width: 100%;
        margin: 2em 0;
        text-align:left;
        padding: 0;
    }
    .services-grid img{
        width:40%;
    }
    .services-grid.img-agileits {
        clear: both;
    }
}


@media screen and (max-width: 768px){
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2{
        padding: 1em;
    }
    .services-grid.agileits-w3layouts.service3, .services-w3ls-row.agileits-w3layouts.service4{
        padding:0 2em;
    }
    .banner-text h1 {
        font-size: 3.1em;
    }
    a.buy {
        margin: 2.5em auto 0;
    }
}
@media screen and (min-width: 737px){
    .w3-flex{
        display: flex;
    }
    .ab1 {
        flex:1;
    }
}
@media screen and (max-width: 736px){
   
    .services-grid img {
        width: 50%;
    }
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2 {
       width: 45%;
    }
    h3.agileits-title {
        font-size: 2.1em;
    }
}


@media screen and (max-width: 640px){
   
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2 {
        width: 84%;
    }
    .sub-icon span, .s-top span {
        font-size: 3.5em;
    }
    .agile_form input[type="submit"] {
        width: 23%;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 568px){
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2 {
        width: 96%;
    }
    .nav-tabs {
        width: 86%;
    }
    .services-grid img {
        padding: 1em;
    }
}
@media screen and (max-width: 480px){
   
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2 {
        padding: 1em 1em 0.5em;
    }
    .services-grid.agileits-w3layouts.service3, .services-w3ls-row.agileits-w3layouts.service4 {
       margin: 1em 0;
    }
    .vertical-skills li span.title {
        left: 9px;
    }
}
@media screen and (max-width: 414px){
    
    .services-grid img {
        width: 56%;
    }
   

}
@media screen and (max-width: 384px){
   
    .services-grid img {
        width: 70%;
    }
    
}

@media screen and (max-width: 320px){
    
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2 {
        padding: 1em 0em 0.5em;
    }
    .services-grid.agileits-w3layouts.service3, .services-w3ls-row.agileits-w3layouts.service4 {
        padding: 0 1em;
    }
    #menuToggle {
         right: 7%;
    }
}




















/*------------- Form ---------------*/

.nb-form {
    position: fixed;
    z-index: 9999;
    width: 300px;
    left: 20px;
    bottom: -350px;
    transition: all .8s cubic-bezier(.22, .67, .43, 1.22) .2s;
    border-radius: 10px 10px 0 0;
    
}
.nb-form:hover {
    bottom: 0px;
}

/*-- User Icon --*/

.nb-form .user-icon {
    position: absolute;
    top: -49px;
    right: 12px;
    display: block;
    width: 58px;
    margin: 20px auto 15px;
    border-radius: 100%;
}

/*-- Title --*/

.nb-form .title {
    background: #4b85cd;
    font-size: 16px !important;
    padding: 15px 18px !important;
    color: #fff !important;
    border-radius: 10px 10px 0 0;
}

/*-- Text --*/

.nb-form p {
    font-size: 13px;
    margin: 0;
    padding: 15px;
    color: #666;
}

.nb-form p.message {
    margin-left: 7px;
}

/*-- Form Elements --*/

.nb-form form {
    padding: 15px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.nb-form input,
.nb-form textarea {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    width: 254px;
    max-width: 254px;
    margin-bottom: 10px;
    margin-left: 7px;
    padding: 6px;
    border-radius:0px;
    color: #999;
    border: 1px solid #ccc;
}

.nb-form input:focus,
.nb-form textarea:focus {
    outline: none;
    box-shadow: none;
}

.nb-form input[type='submit'] {
    display: block;
    width: 120px;
    margin: 0 auto;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease;
    color: #fff !important;
    border: none;
}

.nb-form input[type='submit']:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.07),0 1px 7px 0 rgba(0,0,0,0.02),0 3px 1px -1px rgba(0,0,0,0.1);
}

.nb-form textarea {
    min-height: 110px;
}


.nb-form ::-webkit-input-placeholder {
    color: #ccb0b0;
}

.nb-form ::-moz-placeholder{
    color: #ccb0b0;
}

.nb-form :-ms-input-placeholder {
    color: #ccb0b0;
}

.nb-form :-moz-placeholder {
    color: #ccb0b0;
}

.nb-form input[type='submit'] {
    background: #f68b1f;
}

@media screen and (max-width: 676px) {
    .nb-form:hover .user-icon {
        display: none;
    }

    .nb-form .message {
        display: none;
    }

    .nb-form form {
        padding-top: 15px;
    }
    .nb-form{
        right: 50%;
        bottom: -355px;
        left: 50%;
        transform: translateX(-50%);
    }

    .title
    {

        width: 30%!important;
        padding: 5px!important;
    }
}






/*--//project-styling--*/
/*--filtr-item--*/
.filtr-item {
    padding: 0.3em;
    width: 33.3335%;
    float: left;
}
.filtr-container {
  width:100%;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
  z-index: 1;
}
/* Filter controls */
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1em;
    margin: 0 0.4em;
    letter-spacing: 1px;
    background: #5588bf;
}

.simplefilter li.active {
    color: #fff;
    background: #7f6850;
}
/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}
/*----*/
.filtr-item {
    transform: scale(1) translate3d(0px, 0px, 0px);
  -o-transform: scale(1) translate3d(0px, 0px, 0px);   
    transition: all 0.5s ease-out 0ms;
  -o-transition: all 0.5s ease-out 0ms;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}
/*----*/
ul.simplefilter {
    text-align: center;
    margin-bottom: 3em;
    padding-left: 0px;
}
/*.filtr-item{


  text-align: center!important;
}*/
.filtr-item img{
height: 200px;
object-fit: contain;
object-position: center;
width: 100%;
background-position: bottom;
background-repeat: no-repeat;
background-size: cover;
} 

@media(max-width:991px){
.filtr-item{
  float:left;
  width:33.33%;

}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 10px 13px;
    font-size: 1em;
}
.filtr-item img{
height: 200px;
object-fit: contain;
object-position: center;
} 
}

@media(min-width:769px){

  .main_trial p {
      font-size: 2em;
  }

  .about-chrysalis {
        padding-top: 100px;
        padding-bottom: 100px;
    }


    .banner-qoute {
        position: absolute;
        left: 0;
        top: 600px;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 305px;
        z-index: 100;
        text-align: center;
    }

}
@media(max-width:768px){

    .banner-qoute {
        position: absolute;
        left: 0;
        top: 510px;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 305px;
        z-index: 100;
        text-align: center;
    }

    .about-chrysalis {
        padding-top: 15px;
        padding-bottom: 15px;
    }

 .gallery {
    padding: 0;
}

.main_trial p {
    font-size: 1em;
}

.ga-top {
    margin-bottom: 0em;
}

  .features {
      padding-bottom: 10px;
  }

  .feature-col {
    display: table;
    padding-bottom: 0px;
    margin-top: 1em;
  }

  .test-heading h3 {
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 1em;
    text-align: center;
    position: relative;
}

.agile_testimonials_grid p {
    width: 70%;
    margin: 0 auto;
    color: #fff;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.tagline {
    font-size: 20px;
    margin: 45px 0;
    color: #fff;
}

.mybtn {
    background-color: #D54D4D;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 10px 45px;
    border-radius: 0px !important;
    border: 3px solid #ea5555;
}

section {
    padding: 0px;
}

.cta {
    background-color: #D54D4D;
    padding: 25px 0 70px 0;
}

.filtr-item{
  float:left;
  width:50%;
}

.arrow-container{
  margin: 0 auto;
  position: relative;
  bottom: 25px;
  left: 0;
  right: 0;
  top: -37%;
}

.about {
    padding: 0px;
}

.about h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 8px 10px;
    font-size: 0.9em;
    letter-spacing: 0px;
}
}
@media(max-width:600px){
.filtr-item {
    padding-bottom: : 1em;
}
ul.simplefilter {
    margin-bottom: 0em;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    margin-bottom: 1em;
}

}
@media(max-width:414px){
ul.simplefilter {
    margin-bottom: 0em;
}
.filtr-item{
  width:100%;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 4px 8px;
    letter-spacing: 0px;
    margin-bottom: 0.5em;
}
}
/*--//filtr-item--*/
/*-- //projects--*/



/*--project-styling--*/
figure {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
}
figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  top: -100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
figcaption h3 {
    font-weight: 600;
  font-size:1.7em;
    color: #f44639;
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    margin-top: 55px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}
figcaption p {
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    font-size: 0.9em;
    line-height: 2em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
figure:hover h3,figure:hover p {
    left: 0;
}
figcaption a {
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 10px;
    text-decoration: none;
}
figcaption a:hover {
    color: #4f5856;
    background: #fff;
}
.gallery {
    padding: 3em 0;
}
.ga-top{
  margin-bottom:3em;
}
.ga-top h3 {
    text-align: center;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;

}
.ga-top p {
    color: #777;
    font-size: 1.1em;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}







.navbar-fixed-top22 {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 130;
    top:100;
}



#myTab {
    padding: 0.5ex;
    width: 100%;
    background-color: #fff;
    color: #fff;
    font-size: 2em;
}

#myTab.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 65px;
    z-index: 100;
}



p {
    margin: 1em auto;
}
