
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: 700 !important;
    font-size: 12px !important;
    text-transform: uppercase;
    padding: 10px;
    border: 1px dashed #F58A1E !important;
    letter-spacing: 3px;
    background-color: #F58A1E !important;
    color: #fff !important;
}

.nav-tabs > li > a {
    border: none !important;
    background: none !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    border: 1px dashed #f58a1e!important;
    text-transform: uppercase;
    padding: 10px !important;
    letter-spacing: 3px !important;
    color: #383535 !important;
}

.nav-tabs {
    border: 0 !important;
    padding-bottom: 20px;
}

.text-center {
    text-align: center;
}


.nav > li {
    position: relative!important;
    display: block;
}


.nav-tabs > li {
    float: none;
    margin: 10px 0 !important;
    display: inline-block;
}










