/*!
 * video css
 */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    overflow: hidden;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    // top: 108px;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4) url('../images/videoOverlay.png') repeat;
    width: 100%;
    height: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}




@media screen and (max-width: 480px) and (min-width: 321px) {


    .back_video
     {
        height:330px!important;
     }
}


@media (max-width: 320px) { 
    .back_video
     {
        height:242px!important;
     }
}





@media screen and (max-width: 768px) and (min-width: 481px) {

    .back_video
     {
        height:500px;
     }

}

@media (min-width: 769px) { 


 .back_video
 {
    height:800px!important;
 }

}